.header{
  position: fixed;  
  top: 0; 
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: transparent;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

body{
    background-color: black;
}
   
.navbar a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    position: relative;
    transition: 5s;
}

.search{
    padding-right: 50px;
    margin-right: 300px;
    border: 2px solid;
    width: 200px;
    display: flex;
    align-items: center;
    color: transparent;
    outline: none;
    
}

.search input{
    width: 200px;
    height: 30px;
    background: transparent;
    border-color:white;
    border-radius: 5px;
    color: white;
    transform: translate(50%);
    
}

.search::placeholder{
    background-color: white;
}

.search button{
    background: transparent;
    width: 200px;
    height: 20px;
    display: flex;
    border: none;
    outline: none;
    color:white; 
    font-size: 20px; 
    padding-right: 50px;
    font-size: 16p;
    padding-left: 50px;
    
}

.background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url(https://images.hdqwalls.com/wallpapers/artistic-red-forest-23.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 30px;
}

.box1{
    height: 400px;
    width: 500px;
    top: 50%;
    left: 50%;
    background-size: cover;
    background-color: transparent;
    background-position: left; 
    border-radius: 10px;
    margin-top: 120px;
    transform: translate(40%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.box2{
    position: absolute;
    width: 380px;
    height: 400px;
    transform: translate(180%);
    top: 50%;
    nav-left: 50%;
    border-radius: 10px;
     background: transparent;
     margin-top: -150px;
    border: 1px solid;
    border-color: white;
    }
     .login{
        margin-top: -80px;
        padding: 35px;
    }
.logo{
    font-size: 30px;
    color: white;
}

.text p{
font-size: 12px;
font-family: verdana;
color: white;
line-height: 20px;
}

.text h2{
font-size: 90px;
font-family: verdana;
margin-top: 200px;
color: white;
}

.span .h2{
font-size: 25px;
font-family: verdana;
color: white;
}

.box1 h2{
font-size: 25px;
font-family: verdana;
color: white;
}

.icons i{
font-size: large;
color: white;
margin: 6px;
transition: 5s ease-in;
transform: scale(1.2);
}

.login h2{
    color: white;
    font-family: verdana;
    margin: 100px;
    line-height: 10px;
}

.login input{
    background-color: transparent;
    border-color: white;
    width: 300px;
    border-radius: 5px;
    line-height: 20px;
    height: 30px;
}

.login label{
    color: white;
    font-family: verdana;
    font-size: 15px;
}

.login h3{
    color: white;
    font-family: verdana;
    background-color: red;
    text-align: center;
    border-radius: 2px;
    width: 310px;
    height: 30px;
}

.login input .type text{
    color: white;
    background-color: white;
}

.login label .eicon{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    font-size: medium;
    pointer-events: none;
}

.login label .picon{
    position: relative;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    font-size: medium;
    pointer-events: none;
}

.login .bx-lock-open-alt{
    cursor: pointer;
}

